__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
htmlcov/

.venv/
venv/

.env
.env.*
*.env


*.db
*.sqlite3

*.log

.vscode/
.idea/


.DS_Store
Thumbs.db

infra/.terraform/
infra/.terraform.lock.hcl
*.tfstate
*.tfstate.backup


*.pkl
*.joblib


.pytest_cache/


infra/testdb.py
